---
apiVersion: v1
kind: Secret
metadata:
  namespace: default
  name: ${NEXTCLOUD_DB_USERNAME_TEXT}
data:
  password: ${NEXTCLOUD_DB_PASSWORD}
---
apiVersion: v1
kind: Secret
metadata:
  namespace: default
  name: mariadb
data:
  password: ${MARIADB_PASSWORD}
  root-password: ${MARIADB_ROOT_PASSWORD}
---
apiVersion: v1
kind: Secret
metadata:
  namespace: default
  name: nextcloud
data:
    username: ${NEXTCLOUD_USER}
    password: ${NEXTCLOUD_PASSWORD}
    token: ${NEXTCLOUD_TOKEN}
    bucket-name: ${NEXTCLOUD_BUCKET_NAME}
    bucket-host: ${NEXTCLOUD_BUCKET_HOST}
    bucket-access-key: ${NEXTCLOUD_BUCKET_ACCESS_KEY}
    bucket-secret-key: ${NEXTCLOUD_BUCKET_SECRET_KEY}
    db-username: ${NEXTCLOUD_DB_USERNAME}
    db-password: ${NEXTCLOUD_DB_PASSWORD}
